<html>
<head>
  <!-- Viewport options can make the page scale better on mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <style>
  <!-- CSS styling for our HTML report -->
  {% include './stylesheet.css.j2' %}
  </style>

<script src="jquery-3.6.0/jquery.min.js"></script>

<!-- toggling the big table by clicking on the table header -->
<script type="text/javascript">
        $(document).ready(function() {

            $('tbody > tr:not(".header")').hide();
            $('tr.header').click(function() {
                $(this).nextAll('tr').each(function() {
                    $(this).toggle();
                });
            });
        });
    </script>

</head>

<body>
 <div style="background-image: url(psa_banner.jpeg); height: 400px; width: 100%; border: 1px solid black;"></div>
  <!-- This is our left-hand menu and navigation bar.
  We will generate links for each host, breaking them up by job status.
  The color / style for failed and missing hosts can be tuned in playbook vars. -->

  <div class="sidenav">
    <p><a style="text-align:center;font-weight:bold;font-size:medium" href="#summary">Summary</a></p>
    <hr>
    <p>Host Results</p>
    {% for item in ansible_play_hosts_all  %}
    <a href="#{{ item }}">{{ item }}</a>
    {% endfor %}
    <hr>
  </div>


  <div class="content">

    <h1 id="top">{{ title }}</h1>
    <table>
    <tr class="header">
            <th>ParameterName</th>
                <th>ParameterValue</th>
        </tr>
    <tr>
    <td>Job Submission Date</td>
    <td>{{ curr_date }}</td>
    </tr>
    <tr>
    <td>Ansible Tower JobID</td>
    <td>{{ tower_job_id | default('NA') }}</td>
    </tr>
    </table>
    <br>
    <br>
    <hr>

    <h1 id="summary">Summary</h1>

    <p><strong>Total hosts scanned: {{ ansible_play_hosts_all|length }}</strong></p>
    <hr>
    <h1 id="report">Upgrade Details</h1>
    {% for host in ansible_play_hosts_all  %}
        <h2 id="{{ host }}">{{ host }}</h2>
        <h3 id="check_list">CheckList</h3>
        <p class="table_header_info">This section describes the various operations performed before upgrading the device. <br> Please note that upgradation will start only
        when the following operations are successfull.
        <ol>
         <li class="table_header_info">Device must be  reachable.</li>
         <li class="table_header_info">Copy of firmware file must be successfull.</li>
         <li class="table_header_info">MD5 verification of the file must be successfull.</li>
        </ol>
        <br>
        (Click on the table header below to expand or collapse the table)
        </p>

         <!-- Dumping the checklist -->
        <table class="check_list_table">
        <tr class="header">
            <th>ParameterName</th>
                <th>ParameterValue</th>
        </tr>
        {% for key in check_list %}
        <tr>
        <td>{{ key }}</td>
        <td class="a">{{ host | fetch_symbol(hostvars,check_list[key]) }}</td>
        </tr>
        {% endfor %}
        </table>

        <h3>DeviceInformation (PreUpgrade)</h3>
         <p class="table_header_info">This section captures various device information before upgradation.</p>
            {% for information in pre_upgrade_info %}
                <h4>{{ information }}</h4>
                {% if pre_upgrade_info[information]['pre_var_name'] in hostvars[host] %}
                 <p class="table_header_info">{{ pre_upgrade_info[information]['section_description'] }}</p>
                    <table>
                        {% if information=="BasicInformation" or information=="FileSystemInformation" %}
                                <tr class="header">
                                    <th>ParameterName</th>
                                    <th>ParameterValue</th>
                                </tr>
                            {% for item in pre_upgrade_info[information]['t_row'] %}
                                <tr>
                                    <td>{{ item.td_name }}</td>
                                        {% if information=='BasicInformation' %}
                                            <td> {{ hostvars[host]['old_version']['version'] | default("NA.(Please check if checklist are passed)") | fetch_value(item.td_value) }}</td>
                                        {% elif information=='FileSystemInformation' %}
                                            <td>  {{ hostvars[host]['pre_disk_space'][0] | default("NA.(Please check if checklist are passed)") | fetch_value(item.td_value) }}</td>
                                        {% endif %}
                                </tr>
                            {% endfor %}
                        {% elif information=="InterfaceStatus" %}
                            <!-- add the headers -->
                            <tr class="header">
                                 {% for header_info in pre_upgrade_info[information]['t_header'] %}
                                    <th>{{ header_info }}</th>
                                  {% endfor %}
                            </tr>
                            <!-- now add the data -->
                            {% for key in hostvars[host]['pre_interface_list']['interfaces'] %}
                                <tr>
                                    <td>{{ key }}</td>
                                    <td class="a">{{ hostvars[host]['pre_interface_list']['interfaces'][key]['status'] | default("NA.(Please check if checklist are passed)") | interface_status() }}</td>
                                    <td>{{ hostvars[host]['pre_interface_list']['interfaces'][key]['type'] }} </td>
                                    <td>{{ hostvars[host]['pre_interface_list']['interfaces'][key]['vlan'] }}</td>
                                </tr>
                            {% endfor %}

                        {% elif information=="Layer3Summary" %}
                            <!-- add the headers -->
                            <tr class="header">
                                 {% for header_info in pre_upgrade_info[information]['t_header'] %}
                                    <th>{{ header_info }}</th>
                                  {% endfor %}
                            </tr>
                            <!-- now add the data -->
                            {% for key in hostvars[host]['pre_layer3_summary']['interface'] %}
                                <tr>
                                    <td>{{ key }}</td>
                                    <td class="a">{{ hostvars[host]['pre_layer3_summary']['interface'][key]['interface_is_ok'] | interface_status() }}</td>
                                    <td>{{ hostvars[host]['pre_layer3_summary']['interface'][key]['ip_address'] }} </td>
                                    <td class="a">{{ hostvars[host]['pre_layer3_summary']['interface'][key]['protocol']  | fetch_protocol_symbol() }}</td>
                                    <td class="a">{{ hostvars[host]['pre_layer3_summary']['interface'][key]['status'] | interface_status() }}</td>
                                </tr>
                            {% endfor %}
                        {% elif information=="VRFSummary" %}
                            <!-- add the headers -->
                            <tr class="header">
                                 {% for header_info in pre_upgrade_info[information]['t_header'] %}
                                    <th>{{ header_info }}</th>
                                  {% endfor %}
                            </tr>
                            <!-- now add the data -->
                            {% for key in hostvars[host]['pre_vrf_int_summary'] %}
                                <tr>
                                    <td>{{ key }}</td>
                                    <td>{{ hostvars[host]['pre_vrf_int_summary'][key]['Interface '] }} </td>
                                    <td>{{ hostvars[host]['pre_vrf_int_summary'][key]['IP-Address ']  }}</td>
                                    <td>{{ hostvars[host]['pre_vrf_int_summary'][key]['VRF '] }} </td>
                                    <td class="a">{{ hostvars[host]['pre_vrf_int_summary'][key]['Protocol ']  | fetch_protocol_symbol()}}</td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    <table>
                    {% else %}
                         <p class="table_header_info">{{ section_error_description }}</p>
                    {% endif %}
            {% endfor %}
         <h3>DeviceInformation (PostUpgrade)</h3>
         <p class="table_header_info">This section captures various device information after upgradation.</p>
            {% for information in pre_upgrade_info %}
                <h4>{{ information }}</h4>
                {% if pre_upgrade_info[information]['post_var_name'] in hostvars[host] %}
                 <p class="table_header_info">{{ pre_upgrade_info[information]['section_description'] }}</p>
                    <table>
                        {% if information=="BasicInformation" or information=="FileSystemInformation" %}
                                <tr class="header">
                                    <th>ParameterName</th>
                                    <th>ParameterValue</th>
                                </tr>
                            {% for item in pre_upgrade_info[information]['t_row'] %}
                                <tr>
                                    <td>{{ item.td_name }}</td>
                                        {% if information=='BasicInformation' %}
                                            <td> {{ hostvars[host]['new_version']['version'] | fetch_value(item.td_value) }}</td>
                                        {% elif information=='FileSystemInformation' %}
                                            <td>  {{ hostvars[host]['post_disk_space'][0] | fetch_value(item.td_value) }}</td>
                                        {% endif %}
                                </tr>
                            {% endfor %}
                        {% elif information=="InterfaceStatus" %}
                            <!-- add the headers -->
                            <tr class="header">
                                 {% for header_info in pre_upgrade_info[information]['t_header'] %}
                                    <th>{{ header_info }}</th>
                                  {% endfor %}
                            </tr>
                            <!-- now add the data -->
                            {% for key in hostvars[host]['post_interface_list']['interfaces'] %}
                                <tr>
                                    <td>{{ key }}</td>
                                    <td class="a">{{ hostvars[host]['post_interface_list']['interfaces'][key]['status'] | interface_status() }}</td>
                                    <td>{{ hostvars[host]['post_interface_list']['interfaces'][key]['type'] }} </td>
                                    <td>{{ hostvars[host]['post_interface_list']['interfaces'][key]['vlan'] }}</td>
                                </tr>
                            {% endfor %}

                        {% elif information=="Layer3Summary" %}
                            <!-- add the headers -->
                            <tr class="header">
                                 {% for header_info in pre_upgrade_info[information]['t_header'] %}
                                    <th>{{ header_info }}</th>
                                  {% endfor %}
                            </tr>
                            <!-- now add the data -->
                            {% for key in hostvars[host]['post_layer3_summary']['interface'] %}
                                <tr>
                                    <td>{{ key }}</td>
                                    <td class="a">{{ hostvars[host]['post_layer3_summary']['interface'][key]['interface_is_ok'] | interface_status() }}</td>
                                    <td>{{ hostvars[host]['post_layer3_summary']['interface'][key]['ip_address'] }} </td>
                                    <td class="a">{{ hostvars[host]['post_layer3_summary']['interface'][key]['protocol']  | fetch_protocol_symbol() }}</td>
                                    <td class="a">{{ hostvars[host]['post_layer3_summary']['interface'][key]['status'] | interface_status() }}</td>
                                </tr>
                            {% endfor %}
                        {% elif information=="VRFSummary" %}
                            <!-- add the headers -->
                            <tr class="header">
                                 {% for header_info in pre_upgrade_info[information]['t_header'] %}
                                    <th>{{ header_info }}</th>
                                  {% endfor %}
                            </tr>
                            <!-- now add the data -->
                            {% for key in hostvars[host]['post_vrf_int_summary'] %}
                                <tr>
                                    <td>{{ key }}</td>
                                    <td>{{ hostvars[host]['post_vrf_int_summary'][key]['Interface '] }} </td>
                                    <td>{{ hostvars[host]['post_vrf_int_summary'][key]['IP-Address ']  }}</td>
                                    <td>{{ hostvars[host]['post_vrf_int_summary'][key]['VRF '] }} </td>
                                    <td class="a">{{ hostvars[host]['post_vrf_int_summary'][key]['Protocol ']  | fetch_protocol_symbol()}}</td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    <table>
                    {% else %}
                        <p class="table_header_info">{{ section_error_description }}</p>
                    {% endif %}
            {% endfor %}
        <hr>
    {% endfor %}

  </div>


</body>
  <footer>            &copy: <small><i>Port Authority of Singapore Ltd. All rights reserved.</i></small></footer>
</html>